* {
    padding: 0;
    margin: 0;
}
.el-aside {
    /* background-color: #5297e6; */
    text-align: center;
    line-height: 30px;

}
.el-container:nth-child(5) .el-aside,
.el-container:nth-child(6) .el-aside {
line-height: 260px;
}

.el-container:nth-child(7) .el-aside {
line-height: 320px;
}

.el-tag--small {
line-height: 17px;
height: 30px;
}
.top p,
.top img {
float: left;
}

.top img {
margin-top: 50px;
margin-left: 150px;
}
.top a {
    text-decoration: none;
}
.top a:hover {
    text-decoration: underline;
}
.top p {
margin-left: 75px;
}
.box {
    width: 900px;
    margin: 30px auto;
}

.previous {
    height: 500px;
    overflow-y: auto;
}
.previous .info {
    height: 150px;
    padding-top: 20px;
}

.info {
    float: left;
    padding-left: 30px;
}

.info p {
    line-height: 26px;
}

.QR {
    float: right;
    padding-right: 40px;
}

.previous a {
    display: block;
    width: 380px;
    text-decoration: none;
    color: black;
    word-break: break-all
}

.previous a:hover {
    text-decoration: underline;
}

.video:hover {
    border: 1px solid black;
}
