* {
    padding: 0;
    margin: 0;
}
.member1 {
    float: left;
    width: 200px;
    height: 400px;
    margin-right: 10px;
}
a {
    text-decoration: none;
    color: #2c3e50;
    word-break: break-all;
}
a:hover {
    text-decoration: underline;
}
p {
    line-height:26px;
    padding-left: 5px;
}
.el-row {
    margin: 0 auto;
    margin-bottom: 20px;

    &:last-child {
        margin-bottom: 0;
    }
}

.el-col {
    border-radius: 4px;
    margin-right: 25px;
}

.bg-purple {
    background: #fae9da;
    height: 355px;
}

.bg-purple-light {
    background: #e5e9f2;
}

.grid-content {
    border-radius: 4px;
    min-height: 36px;
}
